[Unit]
Description=HOMEd Custom-Midea Service

[Service]
ExecStart=/usr/bin/homed-custom-midea
Environment=LD_LIBRARY_PATH=/usr/lib
KillSignal=SIGTERM
Restart=on-failure

[Install]
WantedBy=multi-user.target
